In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
data.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
218477,ZWE,Africa,Zimbabwe,2022-09-18,256996.0,8.0,18.000,5598.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
218478,ZWE,Africa,Zimbabwe,2022-09-19,257090.0,94.0,28.857,5598.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
218479,ZWE,Africa,Zimbabwe,2022-09-20,257156.0,66.0,36.000,5598.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
218480,ZWE,Africa,Zimbabwe,2022-09-21,257156.0,0.0,31.000,5598.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
218481,ZWE,Africa,Zimbabwe,2022-09-22,257259.0,103.0,45.714,5598.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218482 entries, 0 to 218481
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    218482 non-null  object
 1   continent                                   205913 non-null  object
 2   location                                    218482 non-null  object
 3   date                                        218482 non-null  object
 4   total_cases                                 209529 non-null  float64
 5   new_cases                                   209304 non-null  float64
 6   new_cases_smoothed                          208108 non-null  float64
 7   total_deaths                                190457 non-null  float64
 8   new_deaths                                  190415 non-null  float64
 9   new_deaths_smoothed                         189235 non-null  float64
 10  total_cases_per_million                     208570 non-null  float64
 11  new_cases_per_million                       208345 non-null  float64
 12  new_cases_smoothed_per_million              207154 non-null  float64
 13  total_deaths_per_million                    189511 non-null  float64
 14  new_deaths_per_million                      189469 non-null  float64
 15  new_deaths_smoothed_per_million             188294 non-null  float64
 16  reproduction_rate                           164389 non-null  float64
 17  icu_patients                                27857 non-null   float64
 18  icu_patients_per_million                    27857 non-null   float64
 19  hosp_patients                               30625 non-null   float64
 20  hosp_patients_per_million                   30625 non-null   float64
 21  weekly_icu_admissions                       7187 non-null    float64
 22  weekly_icu_admissions_per_million           7187 non-null    float64
 23  weekly_hosp_admissions                      14208 non-null   float64
 24  weekly_hosp_admissions_per_million          14208 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          61178 non-null   float64
 35  people_vaccinated                           58483 non-null   float64
 36  people_fully_vaccinated                     55725 non-null   float64
 37  total_boosters                              32587 non-null   float64
 38  new_vaccinations                            50326 non-null   float64
 39  new_vaccinations_smoothed                   125638 non-null  float64
 40  total_vaccinations_per_hundred              61178 non-null   float64
 41  people_vaccinated_per_hundred               58483 non-null   float64
 42  people_fully_vaccinated_per_hundred         55725 non-null   float64
 43  total_boosters_per_hundred                  32587 non-null   float64
 44  new_vaccinations_smoothed_per_million       125638 non-null  float64
 45  new_people_vaccinated_smoothed              124948 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  124948 non-null  float64
 47  stringency_index                            164589 non-null  float64
 48  population                                  217206 non-null  float64
 49  population_density                          194015 non-null  float64
 50  median_age                                  179536 non-null  float64
 51  aged_65_older                               177639 non-null  float64
 52  aged_70_older                               178596 non-null  float64
 53  gdp_per_capita                              178860 non-null  float64
 54  extreme_poverty                             116652 non-null  float64
 55  cardiovasc_death_rate                       179065 non-null  float64
 56  diabetes_prevalence                         188218 non-null  float64
 57  female_smokers                              135620 non-null  float64
 58  male_smokers                                133763 non-null  float64
 59  handwashing_facilities                      88022 non-null   float64
 60  hospital_beds_per_thousand                  159282 non-null  float64
 61  life_expectancy                             204118 non-null  float64
 62  human_development_index                     174582 non-null  float64
 63  excess_mortality_cumulative_absolute        7271 non-null    float64
 64  excess_mortality_cumulative                 7271 non-null    float64
 65  excess_mortality                            7316 non-null    float64
 66  excess_mortality_cumulative_per_million     7271 non-null    float64
dtypes: float64(62), object(5)
memory usage: 111.7+ MB

In [5]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.095290e+05,2.093040e+05,2.081080e+05,1.904570e+05,190415.000000,189235.000000,208570.000000,208345.000000,207154.000000,189511.000000,...,135620.000000,133763.000000,88022.000000,159282.000000,204118.000000,174582.000000,7.271000e+03,7271.000000,7316.000000,7271.000000
mean,4.192816e+06,1.250116e+04,1.253801e+04,7.224751e+04,142.474873,143.201033,56218.482282,189.434230,189.932579,671.050741,...,10.672606,32.807081,50.845629,3.084599,73.629187,0.724878,4.665339e+04,9.763841,14.545178,1283.087107
std,2.629257e+07,8.624945e+04,8.434515e+04,3.724975e+05,742.417998,727.906986,100919.559073,977.828662,644.984561,958.231970,...,10.622022,13.533661,31.841110,2.550129,7.447277,0.149693,1.300163e+05,13.688964,26.761036,1694.885257
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1884.678982
25%,3.948000e+03,0.000000e+00,6.429000e+00,1.090000e+02,0.000000,0.000000,996.316500,0.000000,1.420000,28.421000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,2.205000e+01,0.330000,-0.230000,14.670109
50%,4.589900e+04,5.850000e+01,9.785700e+01,1.115000e+03,1.000000,1.571000,9554.376500,8.278000,20.031000,201.642000,...,6.300000,31.400000,49.839000,2.500000,75.050000,0.743000,5.511300e+03,7.230000,7.325000,741.055294
75%,4.965770e+05,9.840000e+02,1.147286e+03,9.460000e+03,15.000000,16.429000,67646.648000,100.082000,137.034500,991.340500,...,19.300000,41.300000,82.502000,4.200000,79.070000,0.845000,3.296970e+04,15.370000,20.290000,1996.448440
max,6.139987e+08,4.081625e+06,3.436128e+06,6.533623e+06,17737.000000,14858.143000,655309.333000,195005.313000,35258.843000,6419.278000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.220577e+06,76.550000,376.180000,9766.306877

In [8]:
# Data Cleaning
ColumnToClean = ['total_cases', 'new_cases', 'total_deaths']
# filling missing values 
data[['continent']] = data[['continent']].fillna('')
data[ColumnToClean] = data[ColumnToClean].fillna(0)
data.loc[data['continent'] == "United Kingdom", "continent"] = "UK"
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN